<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for customer in customers %}
        <li>
            <a href="{% url 'customer_update' customer.id %}">{{customer.name}}</a>
            <a href="{% url 'customer_delete' customer.id %}">delete</a>
        </li>
        
        {% endfor %}
    </ul>
    <a href="{% url 'customer_new' %}">New Customer</a>
</body>
</html>